<div class="container mt-4" >


	<% if @user.profile_picture.attached? == true %>
	<div class="card" style="width: 18rem;"><%= image_tag @user.profile_picture, alt: 'profile picture' %></div>
<% end %>
	<% current_user.orders.each do |order| %>
		<p>
		 Order reference number: <%= order.stripe_customer_id %>
	</p>
	<% order.items.each do |item| %>
	<div class="row text-center">
		<%= item.title %>
		<%= item.price.to_i %> €
	</div>
	<div class="col col-4">
		<div class="card mb-3 mt-3">
			<img class="card-img-top" height="200px" src="<%= item.image_url %>" alt="Card image cap">
		</div>
	</div>

	<% end %>
	<% end %>
</div>