<div class="container">
  <div class="row">
    <div class="col col-5 mx-auto">
      <h2 class="mt-5 text-center">Change your password</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <b><%= f.label :password, "New password", class: "mt-3" %></b><br />
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "#{@minimum_password_length} characters minimum", class: "form-control mb-4" %>
      </div>

      <div class="field">
        <b><%= f.label :password_confirmation, "Confirm new password" %></b><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control mb-4" %>
      </div>

      <div class="actions mb-3">
        <%= f.submit "Change my password", class: "btn btn-primary btn-block" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
