
<ul class="list-group mt-4">
	<% @cart.items.each do |item| %>
	<li class="list-group-item border-top-0 text-center "> <%= item.title %>  <%= item.price %> € <%= link_to "Remove item", cart_item_path(:item_id => item.id), controller: 'cart_items', method: "delete", action: 'destroy', class: "btn btn-warning"%> 
	</li> 
	<% end %>
</ul>
<!-- finalize order button -->
<div class="mt-4">  <p class="text-center"> Total: <%= @cart.total_cart_price %> € <br>
	<%= link_to "Buy now", new_charge_path(cart_id: @cart.id), class: "btn btn-lg btn-success mt-3" %>	 
</div>

