<!DOCTYPE html>
<html>
  <head>
    <title>ProjetChatons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CDN Bootstrap Flatly (Bootswatch) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css">
  </head>

  <body>
    <!-- Navbar -->
    <%= render 'layouts/navbar' %>
    <!-- Page content -->
    <%= yield %>
    <!-- Footer -->
     <%= render 'layouts/footer' %>
  </body>
</html>
